<ul class="pull-right nav navbar-nav visible-lg visible-md visible-sm">
	<li ng-if="!isAuthenticated()"><a ng-click="login()">Sign In</a></li>
	<form ng-if="!isAuthenticated()" class="navbar-form navbar-left" role="signup">
	    <button type="submit" class="btn btn-success">Sign Up</button>
	</form>
	<!-- else -->
    <li ng-if="isAuthenticated()"><a href="/maps/#"><i class="icon-globe icon-large"></i> Maps</a></li>
    <li ng-if="isAuthenticated()" class="dropdown nav-img">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/img/Avatar-128.png" class="img-small"> {{currentUser.username}}</a>
        <ul class="dropdown-menu">
          <li><a ng-click="logout()">Logout</a></li>
        </ul>
    </li>
</ul>