  
    <div class="col-lg-3 col-md-4">

      <div class="panel panel-default">
        <div class="panel-body">
          <h1 id="map-title">{{map.title}}</h1>
          <p>{{map.description}}</p>
          <div id="map-tags-container">        
            <span data-ui-view="newTags" id="mag-tag-addLink-container">
              <a ui-sref="map.tags({mapId:$stateParams.mapId})" class="pull-left" id="map-tag-addLink"><i class="icon-tags"></i> Add tags</a>
            </span>
            <div class="row">&nbsp;</div>
            <span id="map-tags">
              <span data-ng-repeat="tag in map.tags" style="display:inline-block">
                <button ng-click="deleteTag(tag)" class="btn btn-link btn-tag">
                  <span ng-class="tagClass($index)">x {{tag}}</span>
                </button> 
              </span> 
            </span> 

          </div>
        
     
  		<!-- NEW SPOT -->
  			<div data-ui-view="newSpot" style="margin-top:10px">
          <a ui-sref="map.new({mapId:$stateParams.mapId})" class="btn btn-success col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
            <span><i class="icon-map-marker"></i> <b>Add a Spot</b></span>
          </a>
  			</div>
  </div>
</div>
      <div ng-show="!map.spots.length" class="well">
        This map contains no Spot yet. <a ui-sref="map.new({mapId:$stateParams.mapId})">Add a spot</a>.
      </div>
  		<!-- SPOTS LIST -->
  		
      <div data-ng-repeat="spot in map.spots">
        <div class="panel panel-default" role="spot-item">
          <div class="panel-heading">
            <div class="row">
              <div class="spot-infos col-lg-12">
                <span class="spot-icon-container visible-lg visible-sm visible-md">
                  <button class="btn btn-default" ng-click="selectSpot(spot._id)"><span style="font-size:1em;"><b>{{$index+1}}</b></span></button>
                </span>
                <div class="spot-info-container">
                  <!-- <button class="btn btn-default pull-right" ng-click="selectSpot(spot)"><i class="icon-map-marker icon-large"></i></button> -->
                  <h4 class="list-group-item-heading" style="padding-top:6px;"><a href ng-click="selectSpot(spot._id)" role="spot-title"><b>{{spot.title}}</b></a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-heading" id="spotMenuRemove{{spot._id}}" style="display:none">
            <div class="row">
              <div class="col-lg-6">
                <button class="btn btn-danger col-lg-12" ng-click="removeSpot($index)">Remove Spot</button>
              </div>
              <div class="col-lg-6">
                <button class="btn btn-success col-lg-12" ng-click="removeSpotToggle(spot._id)">Cancel</button>
              </div>
            </div>
          </div>
          <div class="panel-heading" id="spotMenu{{spot._id}}" style="display:none">
            <button class="btn btn-default" ng-click="selectSpot(spot._id)"><i class="icon-edit icon-large"></i></button>
            <button class="btn btn-default" ng-click="selectSpot(spot._id)"><i class="icon-info icon-large"></i></button>
            <button class="btn btn-default" ng-click="selectSpot(spot._id)"><i class="icon-camera icon-large"></i></button>
            <button class="btn btn-default" ng-click="selectSpot(spot._id)"><i class="icon-link icon-large"></i></button>
            <button class="btn btn-default pull-right" ng-click="removeSpotToggle(spot._id)"><i class="icon-trash icon-large"></i></button>
          </div>
          <div class="panel-body">
            <p class="list-group-item-text">{{spot.description}}</p>
            <p class="hide" role="spot-longitude">{{spot.longitude}}</p>
            <p class="hide" role="spot-latitude">{{spot.latitude}}</p>
            <p class="hide" role="spot-id">{{spot._id}}</p>
            <div display-marker></div>
          </div>

        </div>
      </div>

    </div>

      </div>
      <div ui-view="main">
        <div style="padding-left:0px" class="col-lg-1">
            <p><a style="width:49px;" ui-sref="map.info({mapId:$stateParams.mapId})" class="btn btn-default btn-lg"><i class="icon-edit"></i></a></p>
            <p><a style="width:49px;" ui-sref="map.info({mapId:$stateParams.mapId})" class="btn btn-default btn-lg"><i class="icon-info"></i></a></p>
            <p><a style="width:49px;" ui-sref="map.info({mapId:$stateParams.mapId})" class="btn btn-default btn-lg"><i class="icon-comments"></i></a></p>
            <p><a style="width:49px;" ui-sref="map.info({mapId:$stateParams.mapId})" class="btn btn-default btn-lg"><i class="icon-link"></i></a></p>
            <p><a style="width:49px;" ui-sref="map.info({mapId:$stateParams.mapId})" class="btn btn-default btn-lg"><i class="icon-gear"></i></a></p>
        </div>  
      </div>
  

  <!-- JS DOM -->
  <script>
  
  
  $(document).ready(function(){
  
	    $('.header-tabs a').click(function (e) {
	    	e.preventDefault()
	    	$(this).tab('show')
	    })
	    $('.header-tabs a:first').tab('show')
	});
  </script>