<!-- DATA -->
<div class="panel panel-default" id="data">
	<ul class="nav nav-tabs header-tabs">
		<li><a href="#data-tab" data-toggle="tab2"><b>Data</b></a></li>
	</ul>
	<div data-ui-view="spot.data" autoscroll="false">
		<table class="table table-striped" style="margin-bottom:0">
			<tbody>
				<tr ng-repeat="data in data.table">
					<td ng-if="data.type != 'stars'">{{data.key}} <span class="pull-right"><b>{{data.value}} {{data.type}}</b></span></td>
					<td ng-if="data.type == 'stars'">{{data.key}} 
						<span class="pull-right">
							<rating value="data.value" max="max" readonly="true" on-hover="hoveringOver(value)" rating-states="ratingStates" on-leave="overStar = null" style="margin-left:8px;font-size:1.2em"></rating>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script>
$(document).ready(function(){

	$('.header-tabs a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	})
	$('.header-tabs').each(function(){
		$(this).find('a:first').tab('show');
	});
});
</script>