<% layout('layout') -%>
<!-- Stylesheets -->
<% stylesheet('http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css') -%>
<!-- stylesheet('/css/vendor/leaflet.css') -%>-->
<% stylesheet('/css/vendor/leaflet.awesome-markers.css') -%>
<% stylesheet('/css/vendor/select2.css') -%>

<!-- VENDOR JS -->
<!-- script('//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js') -%>-->
<% script('/js/vendor/angular.js') -%>
<% script('/js/vendor/angular-ui-router.js') -%>
<% script('/js/vendor/ui-utils.min.js') -%>
<% script('http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js') -%>
<!-- script('/js/vendor/leaflet.js') -%>-->
<% script('/js/vendor/leaflet.awesome-markers.js') -%>
<% script('/js/dom/lib/leaflet.numbered-markers.js') -%>

<% script('/js/vendor/jquery.autocomplete.min.js') -%>

<!-- APP -->
<% script('/js/app/app.js') -%>
<% script('/js/app/explore/explore.js') -%>
<% script('/js/common/services/spotsService.js') -%>
<% script('/js/common/services/utilsService.js') -%>
<% script('/js/common/directives/spotList/spotList.js') -%>

<!-- DOM -->
<!-- TODO replace by a directive -->

<!--<div class="panel panel-default" data-ui-view="">-->
  <!-- see public/js/partials/map.js -->
<!--</div>-->
<div data-ui-view="">
</div>