<div class="container">
	<div class="panel panel-default">
		<!-- PANEL HEADING -->
		<div class="panel-heading">
			<!-- AddThis Button BEGIN -->
			<!--<div class="addthis_default_style ">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_pinterest_pinit"></a>
				<a class="addthis_counter addthis_pill_style"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520613fc20d317d5"></script>-->
			<div class="pull-right" style="padding-top:1px;padding-left:8px">
				<div class="input-group" style="width:180px">
			    	<input type="text" class="form-control" value="http://...">
			      	<span class="input-group-btn">
			        	<button class="btn btn-default" type="button"><b>SHARE</b></button>
			      	</span>
			    </div>
			</div>
			<div class="pull-right" style="padding-top:1px;padding-left:8px">
				<button class="btn btn-default" type="button"><i class="fa fa-bookmark"></i> <b>SAVE</b></button>
			</div>
			<div class="pull-right">
				<div class="btn btn-group" style="padding:0">
				    <button class="btn btn-default" type="button"><i class="fa fa-heart"></i></button>
					<button class="btn btn-default" type="button" disabled><b>{{spot.likes.length}}</b></button>
				</div>
			</div>
			
			<div style="clear:both"></div>
		</div>



		<!-- PANEL BODY -->
		<div class="panel-body">
			<!-- MAP TITLE -->

			<!-- LEFT ZONE -->
			<div  style="clear:both" id="map-left" class="col-lg-9">      
				<!-- TABS -->
				
				<div class="panel panel-default panel-body">
				<div class="row">
					<img src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg" class="col-lg-5">
					<div class="col-lg-7">
					
					<div class="pull-right" data-ui-view="data.action" autoscroll="false">
						<a class="btn btn-default" ui-sref="spot.data"><small><i class="fa fa-edit"></i></small> Edit</a>
					</div>
						<h1 id="map-title"><strong>{{spot.title}}</strong></h1>
						<p><small>4, Place de Damloup, 31000 Toulouse, France</small></p>
						<!--<p><rating value="3.5" max="max" readonly="false" on-hover="hoveringOver(value)" rating-states="ratingStates" on-leave="overStar = null" style="font-size:2em;color:#CDB380;"></rating> based on <strong><a href ng-click="scrollToStories()">{{comments.length}} stories</a></strong></p>-->
						<div class="row">
							<div class="col-lg-4">
								<h4 style="font-size:2.5em;font-weight:bold;margin-bottom:1px">1,854</h4>
								<small>LOVES</small>
								<h4 style="font-size:2.5em;font-weight:bold;margin-bottom:1px">44</h4>
								<small>COMMENTS</small>
								<h4 style="font-size:2.5em;font-weight:bold;margin-bottom:1px">12,423</h4>
								<small>VIEWS</small>
							</div>
							<div class="col-lg-8">
								<i class="icon-outdoor fa-3x img-thumbnail" style="color:#031634"></i>
								<i class="icon-target fa-3x img-thumbnail" style="color:#031634"></i>
								<i class="icon-water fa-3x img-thumbnail" style="color:#031634"></i>
							</div>
						</div>
					</div>
				</div>
				<div style="display:block;position:relative;margin: 10px -15px -14px; padding-left:-20px; background-color:#f5f5f5;height:65px;">
					<div id="carousel-spot" class="story-carousel">
						<ul class="amazingslider-slides" style="display:none;">
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
						</ul>
						<ul class="amazingslider-thumbnails" style="display:none;">
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<li>
								<img ng-src="http://www.raquette-evasion.com/ori-trek-randonnee-vercors-690-euros-403_382.jpg"/>
							</li>
							<div display-slider slider-id="carousel-spot"></div>
						</ul>
					</div>
				</div>
				</div>
				
				<div ng-controller="TopoController" ng-include="'/js/app/spot/topo/topo.tpl.html'"></div>
				

				<!-- STORIES -->
				<div class="panel panel-default" id="stories">
					<ul class="nav nav-tabs header-tabs">
						<li><a href="#stories" data-toggle="tab3"><b>Stories ({{comments.length}})</b></a></li>
						<div class="pull-right" data-ui-view="comment.action">
							<a class="btn btn-primary" ui-sref="spot.comment"><i class="fa fa-plus-sign"></i> Add a Story</a>
						</div>
					</ul>
					<div class="panel-body">
						<div data-ui-view="comment.form"></div>
						<div data-ng-repeat="comment in comments | orderBy:'modificationDate':true">
							<div ng-include src="'comment.tpl.html'"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- RIGHT ZONE -->
			<div id="map-right" class="col-lg-3">
				<!-- 	<div class="col-lg-12" style="text-align:center">
						<span style="font-size:3em;font-family: 'Candal', sans-serif;"><i class="fa fa-comments"></i> 47</span>
					</div>
				</div>-->
				<!-- MAP -->
				<div class="panel panel-default">
					<div class="panel-body">
						<map spot="{{spot}}" class="map"></map>
					</div>
				</div>

				<!-- DATA -->
				<div ng-controller="DataController" ng-include="'/js/app/spot/data/data.tpl.html'"></div>
			</div>
		</div>
	</div>
</div>

<!-- JS DOM -->
<script>

$(document).ready(function(){

	$('.header-tabs a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	})
	$('.header-tabs').each(function(){
		$(this).find('a:first').tab('show');
	});

	jQuery("#slideshow").amazingslider({

		jsfolder:'/js/vendor/sliderengine/',
		width:690,
		height:500,
		skinsfoldername:"",
		loadimageondemand:false,
		isresponsive:true,
		autoplayvideo:false,
		pauseonmouseover:false,
		addmargin:true,
		randomplay:false,
		playvideoonclickthumb:true,
		slideinterval:5000,
		enabletouchswipe:true,
		transitiononfirstslide:false,
		loop:0,
		autoplay:false,
		navplayvideoimage:"play-32-32-0.png",
		navpreviewheight:60,
		timerheight:2,
		shownumbering:false,
		skin:"Gallery",
		textautohide:false,
		addgooglefonts:true,
		navshowplaypause:true,
		navshowplayvideo:true,
		navshowplaypausestandalonemarginx:8,
		navshowplaypausestandalonemarginy:8,
		navbuttonradius:0,
		navthumbnavigationarrowimageheight:32,
		navpreviewarrowheight:8,
		showshadow:false,
		navfeaturedarrowimagewidth:16,
		navpreviewwidth:120,
		googlefonts:"Inder",
		textpositionmarginright:24,
		bordercolor:"#ffffff",
		navthumbnavigationarrowimagewidth:32,
		navthumbtitlehovercss:"text-decoration:underline;",
		arrowwidth:32,
		texteffecteasing:"easeOutCubic",
		texteffect:"",
		navspacing:8,
		navarrowimage:"navarrows-28-28-0.png",
		ribbonimage:"ribbon_topleft-0.png",
		navwidth:52,
		showribbon:false,
		arrowtop:50,
		timeropacity:0.6,
		navthumbnavigationarrowimage:"carouselarrows-32-32-0.png",
		navshowplaypausestandalone:false,
		navpreviewbordercolor:"#ffffff",
		ribbonposition:"topleft",
		navthumbdescriptioncss:"display:block;position:relative;padding:2px 4px;text-align:left;font:normal 12px Arial,Helvetica,sans-serif;color:#333;",
		navborder:2,
		navthumbtitleheight:20,
		textpositionmargintop:24,
		navswitchonmouseover:false,
		playvideoimage:"playvideo-64-64-0.png",
		arrowimage:"arrows-32-32-0.png",
		textstyle:"static",
		playvideoimageheight:64,
		navfonthighlightcolor:"#666666",
		showbackgroundimage:false,
		navpreviewborder:4,
		navopacity:0.8,
		shadowcolor:"#aaaaaa",
		navbuttonshowbgimage:true,
		navbuttonbgimage:"navbuttonbgimage-28-28-0.png",
		textbgcss:"display:block; position:absolute; top:0px; left:0px; width:100%; height:100%; background-color:#fff; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; opacity:0.7; filter:alpha(opacity=70);",
		playvideoimagewidth:64,
		bottomshadowimagewidth:110,
		showtimer:true,
		navradius:0,
		navshowpreview:false,
		navmarginy:8,
		navmarginx:8,
		navfeaturedarrowimage:"featuredarrow-16-8-0.png",
		navfeaturedarrowimageheight:8,
		navstyle:"thumbnails",
		textpositionmarginleft:24,
		descriptioncss:"display:block; position:relative; font:14px Inder,Arial,Tahoma,Helvetica,sans-serif; color:#333;",
		navplaypauseimage:"navplaypause-48-48-0.png",
		backgroundimagetop:-10,
		arrowstyle:"mouseover",
		timercolor:"#ffffff",
		numberingformat:"%NUM/%TOTAL ",
		navfontsize:12,
		navhighlightcolor:"#333333",
		navimage:"bullet-24-24-5.png",
		navheight:52,
		navshowplaypausestandaloneautohide:true,
		navbuttoncolor:"",
		navshowarrow:false,
		navshowfeaturedarrow:true,
		titlecss:"display:block; position:relative; font: 16px Inder,Arial,Tahoma,Helvetica,sans-serif; color:#000;",
		ribbonimagey:0,
		ribbonimagex:0,
		navshowplaypausestandaloneposition:"bottomright",
		shadowsize:5,
		arrowhideonmouseleave:1000,
		navshowplaypausestandalonewidth:48,
		navshowplaypausestandaloneheight:48,
		backgroundimagewidth:120,
		navcolor:"#999999",
		navthumbtitlewidth:120,
		navpreviewposition:"top",
		arrowheight:32,
		arrowmargin:8,
		texteffectduration:1000,
		bottomshadowimage:"bottomshadow-110-95-4.png",
		border:6,
		timerposition:"bottom",
		navfontcolor:"#333333",
		navthumbnavigationstyle:"arrow",
		borderradius:0,
		navbuttonhighlightcolor:"",
		textpositionstatic:"bottom",
		navthumbstyle:"imageonly",
		textcss:"display:block; padding:8px 16px; text-align:left; ",
		navbordercolor:"#ffffff",
		navpreviewarrowimage:"previewarrow-16-8-0.png",
		showbottomshadow:true,
		navdirection:"horizontal",
		textpositionmarginstatic:0,
		backgroundimage:"",
		navposition:"bottom",
		navpreviewarrowwidth:16,
		bottomshadowimagetop:95,
		textpositiondynamic:"bottomleft",
		navshowbuttons:false,
		navthumbtitlecss:"display:block;position:relative;padding:2px 4px;text-align:left;font:bold 14px Arial,Helvetica,sans-serif;color:#333;",
		textpositionmarginbottom:24,
		transition:""
	});

jQuery(".story-carousel").each(function(){
	$(this).amazingslider({
		lightboxmode:true,
		lightboxid:$(this).attr('id'),
		jsfolder:'/js/vendor/sliderengine/',
		width:690,
		height:0,
		skinsfoldername:"",
		loadimageondemand:false,
		isresponsive:true,
		autoplayvideo:false,
		pauseonmouseover:false,
		addmargin:true,
		randomplay:false,
		playvideoonclickthumb:true,
		slideinterval:5000,
		enabletouchswipe:true,
		transitiononfirstslide:false,
		loop:0,
		autoplay:false,
		navplayvideoimage:"play-32-32-0.png",
		navpreviewheight:60,
		timerheight:2,
		shownumbering:false,
		skin:"Gallery",
		textautohide:false,
		addgooglefonts:true,
		navshowplaypause:true,
		navshowplayvideo:true,
		navshowplaypausestandalonemarginx:8,
		navshowplaypausestandalonemarginy:8,
		navbuttonradius:0,
		navthumbnavigationarrowimageheight:32,
		navpreviewarrowheight:8,
		showshadow:false,
		navfeaturedarrowimagewidth:16,
		navpreviewwidth:120,
		googlefonts:"Inder",
		textpositionmarginright:24,
		bordercolor:"#ffffff",
		navthumbnavigationarrowimagewidth:32,
		navthumbtitlehovercss:"text-decoration:underline;",
		arrowwidth:32,
		texteffecteasing:"easeOutCubic",
		texteffect:"",
		navspacing:8,
		navarrowimage:"navarrows-28-28-0.png",
		ribbonimage:"ribbon_topleft-0.png",
		navwidth:52,
		showribbon:false,
		arrowtop:50,
		timeropacity:0.6,
		navthumbnavigationarrowimage:"carouselarrows-32-32-0.png",
		navshowplaypausestandalone:false,
		navpreviewbordercolor:"#ffffff",
		ribbonposition:"topleft",
		navthumbdescriptioncss:"display:block;position:relative;padding:2px 4px;text-align:left;font:normal 12px Arial,Helvetica,sans-serif;color:#333;",
		navborder:2,
		navthumbtitleheight:20,
		textpositionmargintop:24,
		navswitchonmouseover:false,
		playvideoimage:"playvideo-64-64-0.png",
		arrowimage:"arrows-32-32-0.png",
		textstyle:"static",
		playvideoimageheight:64,
		navfonthighlightcolor:"#666666",
		showbackgroundimage:false,
		navpreviewborder:4,
		navopacity:0.8,
		shadowcolor:"#aaaaaa",
		navbuttonshowbgimage:false,
		navbuttonbgimage:"navbuttonbgimage-28-28-0.png",
		textbgcss:"display:block; position:absolute; top:0px; left:0px; width:100%; height:100%; background-color:#fff; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; opacity:0.7; filter:alpha(opacity=70);",
		playvideoimagewidth:64,
		bottomshadowimagewidth:110,
		showtimer:false,
		navradius:0,
		navshowpreview:false,
		navmarginy:8,
		navmarginx:8,
		navfeaturedarrowimage:"featuredarrow-16-8-0.png",
		navfeaturedarrowimageheight:8,
		navstyle:"thumbnails",
		textpositionmarginleft:24,
		descriptioncss:"display:block; position:relative; font:14px Inder,Arial,Tahoma,Helvetica,sans-serif; color:#333;",
		navplaypauseimage:"navplaypause-48-48-0.png",
		backgroundimagetop:-10,
		arrowstyle:"mouseover",
		timercolor:"#ffffff",
		numberingformat:"%NUM/%TOTAL ",
		navfontsize:12,
		navhighlightcolor:"#333333",
		navimage:"bullet-24-24-5.png",
		navheight:52,
		navshowplaypausestandaloneautohide:true,
		navbuttoncolor:"",
		navshowarrow:false,
		navshowfeaturedarrow:false,
		titlecss:"display:block; position:relative; font: 16px Inder,Arial,Tahoma,Helvetica,sans-serif; color:#000;",
		ribbonimagey:0,
		ribbonimagex:0,
		navshowplaypausestandaloneposition:"bottomright",
		shadowsize:0,
		arrowhideonmouseleave:1000,
		navshowplaypausestandalonewidth:48,
		navshowplaypausestandaloneheight:48,
		backgroundimagewidth:120,
		navcolor:"#999999",
		navthumbtitlewidth:120,
		navpreviewposition:"top",
		arrowheight:32,
		arrowmargin:8,
		texteffectduration:1000,
		bottomshadowimage:"bottomshadow-110-95-4.png",
		border:6,
		timerposition:"bottom",
		navfontcolor:"#333333",
		navthumbnavigationstyle:"arrow",
		borderradius:0,
		navbuttonhighlightcolor:"",
		textpositionstatic:"bottom",
		navthumbstyle:"imageonly",
		textcss:"display:block; padding:8px 16px; text-align:left; ",
		navbordercolor:"#ffffff",
		navpreviewarrowimage:"previewarrow-16-8-0.png",
		showbottomshadow:false,
		navdirection:"horizontal",
		textpositionmarginstatic:0,
		backgroundimage:"",
		navposition:"bottom",
		navpreviewarrowwidth:16,
		bottomshadowimagetop:95,
		textpositiondynamic:"bottomleft",
		navshowbuttons:false,
		navthumbtitlecss:"display:block;position:relative;padding:2px 4px;text-align:left;font:bold 14px Arial,Helvetica,sans-serif;color:#333;",
		textpositionmarginbottom:24,
		transition:""
	});
});

$('[class^=amazingslider-slider-]').hide();
$('[class^=amazingslider-nav-]').css('background-color','#f5f5f5');
$('.amazingslider-slider-0').show();

});

</script>