<div style="margin-bottom:70px">
  <div id="spots-left-bar">

    <div class="panel panel-default" style="margin-bottom:0px">
      <div class="panel-body">

        <div class="pull-right">
          <a style="width:45px;" ng-click="openModal()" class="btn btn-default btn-lg"><i class="fa fa-link"></i></a>
          <a style="display:none"  class="btn btn-default btn-lg" ng-click="explore()"><i style="font-size:1em;" class="fa fa-arrow-right"></i></a>
        </div>
        <span >
          <h1 id="map-title" class="">Explore</h1>
          <p>Results for <b>{{k.value}}</b> around <b>{{l.value}}</b> </p>
        </span>
      </div>
    </div>


    <div spot-list>
      <map style="position:fixed;right:0;left:0;top:51px;bottom:0;z-index:-1" mode="explore" location="{{location}}" onPopupOpen="onPopupOpen"></map> 
      <div data-ng-repeat="spot in spots" spot-item spot="{{spot}}" index="{{$index}}" last="{{$last}}" on-like="like($index)" is-selected="{{spot.isSelected}}"></div>
    </div>
  </div>
</div>

<!-- <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3>I'm a modal!</h3>
    </div>
    <div class="modal-body">
        <ul>
           CHAT
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script> -->